* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #1b1b1b;
    color: #FFF;
    font-family: "Ubuntu Mono", monospace;
    padding: 1em;
    cursor: text;
    height: 100%;
}

.user {
    color: #5c8b1e;
}

.path {
    color: #395fa7;
}

.folder {
    color: #395fa7;
}

.input {
    display: flex;
}

.textarea {
    width: 100%;
    flex: 1;
    height: 1.5em;
    resize: none;
    background: none;
    border: none;
    color: #FFF;
    outline: none;
    margin-left: .5em;
    font-size: 14px;
}